.DS_Store
*.suo
*.user
Renting.Core/maildir
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
/out/**/*
packages/*
node_modules/
**/.vs
**/*.bak
*/client/**/*.json
*/client/**/*.js
*/client/**/*.json
/Renting.NgClient/**/*.ts.bak
*/tests/**/*.js
*/tests/**/*.map
*/tests/**/*.json
!*/client/**/dist/**/*.js
*/client/**/*.js.map
/projs/*



/**/.idea/
/Renting.NgClient/app
/Renting.Server/Renting.Core/app
/Renting.Server/Renting.Core/client
/Renting.Server/.vs
/Renting.NgClient/src/app/template-with-menu/pages/auth/verify-email/*.bak
/Renting.NgClient/src/services/*.bak
/Renting.Server/Renting.Core/maildir
/Renting.NgClient/src/app/template-with-menu/header/*.bak
/Renting.NgClient/src/app/template-with-menu/*.bak
/Renting.NgClient/src/app/template-with-menu/pages/admin/users/user-item-modal/*.bak
/Renting.NgClient/src/**/*.bak
/Renting.NgClient/.angular
/Renting.NgClient/node_modules2
/Renting.NgClient/node_modules3
*/**/*.bak
