@page
@model Renting.Pages.Sellers.IndexModel

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Продавцы</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">Добавить продавца</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Sellers.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label>Имя</label>
                        </th>
                        <th>
                            <label>Фамилия</label>
                        </th>


                        <th>
                        </th>
                    </tr>
                    @foreach (var seller in Model.Sellers)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => seller.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => seller.Surname)
                            </td>


                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@seller.Id" class="btn btn-danger btn-sm" style="width: 150px">Удалить</button>
                                <a asp-page="Edit" asp-route-id="@seller.Id" class="btn btn-success btn-sm text-white" style="width: 150px">Редактировать</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>Нет покупателей</p>
            }
        </form>
    </div>
</div>




