@page
@model Renting.Pages.Categories.CreateModel

<br />
<h2 class="text-info">Добавить категории</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="Categories.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Categories.Name">Имя</label>
            </div>
            <div class="col-6">
                <input asp-for="Categories.Name" class="form-control" />
            </div>
            <span asp-validation-for="Categories.Name" class="text-danger"></span>
            <br />
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Categories.Name">Имя</label>
            </div>
            <div class="col-6">
                <input asp-for="Categories.Name" class="form-control" />
            </div>
            <span asp-validation-for="Categories.Name" class="text-danger"></span>
            <br />
        </div>


        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Categories.Description">Описание</label>
            </div>
            <div class="col-6">
                <input asp-for="Categories.Description" class="form-control" />
            </div>
            <span asp-validation-for="Categories.Description" class="text-danger"></span>
            <br />
        </div>


        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Categories.Note">Заметка</label>
            </div>
            <div class="col-6">
                <input asp-for="Categories.Note" class="form-control" />
            </div>
            <span asp-validation-for="Categories.Note" class="text-danger"></span>
            <br />
        </div>



        <div class="form-group row" style="margin-top: 10px">
            <div class="col-3 offset-3">
                <input type="submit" value="Изменить" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Назад</a>
            </div>
        </div>


    </form>
</div>

@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}