@page
@model Renting.Pages.Auth.RegisterModel
@{
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div style="display: flex; gap: 10px; margin-top: 20px">
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                <button class="btn btn-secondary" style="color: white" asp-page="/Account/Login">
                    Войти
                </button>
            </div>
        </form>
    </div>
</div>

